*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    height: 100dvh;
    display: grid;
    grid-template-columns: 60px 1fr 2fr;
    grid-template-areas: 
    "nav section main";

}

nav{
    grid-area: nav;
    background-color:rgb(247, 245, 243);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    
}

.container-nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
    align-items: center;
}

.container-nav img{
    border-radius: 100%;
    padding: 7px;
    width: 40px;

}

.container-nav img:hover{
    background-color: rgb(198, 244, 199);
   
}

section{
 
}

.container-titulo, .btn-new-chat{
    display: flex;
   
}

.container-titulo > h1{
    color: rgb(125, 235, 125);
    font-size: x-large;
}

.container-titulo{
    justify-content: space-between;
    padding: 17px 10px;
}

.btn-new-chat{
    border-radius: 100%;
    padding: 7px;
    align-items: center;
    margin-right: 10px;
    
}

.btn-new-chat:hover{
    background-color: rgb(198, 244, 199);
}


main{
    grid-area: main;
    background-color: blue;
    
}
img {
    display: block;
    max-width: 100%;
}